.material-icons.md-dark{ color:rgba(0,0,0.54); }
.custom-img{
	width: 60px;
	height:80px;
}
html{
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}

footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding:0;

}

.material-icons.md-dark{
	color: black;
}