canvas {
    width: 100%;
    height: 700px;
    border: 3px solid black;
    border-radius: 10px;
}

.m-button {
    outline :0;
    border: none;
    border-radius: 3px;
    color: black;
    background: transparent;
    width: auto;
    height: auto;
    transition: all .1s ease-in-out;
}
.m-button:hover {
    background:  transparent;
    border: 1px solid black;
    color: black;

}
