{% extends 'base.html' %}
{% load static %}
{% block title %} Mis documentos Cerrados {% endblock %}
{% block content %}

        
<div class="row">
    <div class="col m12 s12">
        <div class="card z-depth-5">
            <div class="card-content">
                <div class="card-title">
                    Mis Incidentes Cerrados
                    
                </div>
                <div class="row">
                    <table class="striped centered responsive-table" id="IncidentTable">
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Nombre</th>
                                <th>Área</th>
                                <th>Fecha de creación</th>
                                <th>Fecha recepción</th>
                                <th>Fecha de cierre</th>
                                <th>Estatus</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/document/closedList.js' %}"></script>
{% endblock %}