{% extends 'base.html' %}
{% load static %}
{% block title %} Detalles {% endblock %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/pdfCss.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
{% endblock %}
{% block content %}
<div id="upload" style="visibility: hidden;">
    <img src="{% static 'img/upload.gif' %}"  width="30%"/>
</div>
<div id="load" style="visibility: hidden;">
    <img src="{% static 'img/load.gif' %}" width="30%" />
</div>
<div class="row" style="padding: 50px 150px 0px 150px;">
    <div class="col m12 s12">
        <div class="card z-depth-5">
            <div class="card-content">
                <div class="card-title">
                    {% if data.estadoTarea == "Terminada" %}
                        <a href="{% url 'doc:documentCloseView' %}"><i class="material-icons left">keyboard_backspace</i></a>Documento <b>'{{ data.folio }}'</b>
                    {% else %}
                        <a href="{% url 'doc:DocumentView' %}"><i class="material-icons left">keyboard_backspace</i></a>Documento <b>'{{ data.folio }}'</b>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input disabled id="title" name="title" type="text" class="validate"/>
                        <label for="title" id="ltitle">Titulo</label>
                    </div>
                    <div class="input-field col s4">
                        <input disabled id="folio" type="text" class="validate"/>
                        <label id="lfolio" for="folio">Folio</label>
                    </div>
                    <div class="input-field col s4">
                        <input disabled id="Pstatus" type="text" class="validate" />
                        <label id="lPstatus" for="Pstatus">Estado de proceso</label>
                    </div>
                    <div class="input-field col s4">
                        <input disabled id="Tstatus" type="text" class="validate"/>
                        <label id="lTstatus" for="Tstatus">Estado de tarea</label>
                    </div>
                    <div class="input-field col s4">
                        <input disabled id="area" type="text" class="validate"/>
                        <label id="larea" for="area">Area</label>
                    </div>
                    <div class="input-field col s4">
                        <input disabled id="emisor"  type="text" class="validate"/>
                        <label id="lemisor" for="emisor">Emisor</label>
                    </div>
                    <div class="input-field col s4">
                        <input disabled id="tipo"  type="text" class="validate"/>
                        <label id="ltipo" for="tipo">Tipo</label>
                    </div>
                    <div class="input-field col s4">
                        <input disabled id="prioridad"  type="text" class="validate"/>
                        <label id="lprioridad" for="tipo">Prioridad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="comentarios" disabled class="materialize-textarea"></textarea>
                        <label id="lcomentarios" for="comentarios">Comentarios</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if request.session.isResponse %}
<div class="row" style="padding:0px 150px 0px 150px;">
    <div class="col m12 s12">
        <div class="card z-depth-5">
            <div class="card-content">
                <div class="card-title">
                    {%  csrf_token %}
                    {% if data.estadoTarea == "Asignado" %}
                        <h5>Actualizar estado</h5>
                        <p><h6>Actualizar estado a "En revisión"</h6></p>
                        <button class="btn waves-effect waves-light" type="button" onclick="statusUpdate({{ data.idEvento }})">Actualizar</button>
                    {% endif %}
                    {% if data.estadoTarea == "En revisión" %}
                        <h5>Respuesta</h5>
                        
                        <form id="responseUpload" >
                            {%  csrf_token %}
                            <div class="row">

                                <div class="input-field col s12">
                                    <i class="material-icons prefix">title</i>
                                    <input class="validate" id="doctitle" type="text" name="doctitle" required />
                                    <label for="doctitle" data-error="wrong" data-success="right" class="center-align">nombre</label>
                                </div>
                                
                                <div class="input-field col s6">
                                    <select id="docType" name="docType">
                                        <option value="0" disabled selected>Seleccione documento</option>
                                        {% for u in type %}
                                            {% if u.idTipo != 1 %}
                                                <option value="{{ u.idTipo }}">{{ u.tipo }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <label>Tipo Documento</label>
                                </div>
                                <div class="input-field col s6" hidden>
                                    <input class="validate" id="processId" type="text" name="processId" value="{{ processId }}" disabled/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="file-field input-field">
                                    <div class="btn white">
                                    <i class="material-icons md-dark">folder</i>
                                    <input type="file" id="file" name="file" accept="application/pdf" >
                                    </div>
                                    <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" id="filename" name="filename"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="center-align">
                                    <button id="saveResponse" class="btn center-align" type="button" onclick="upoloadResponse()">Guardar</button>
                                    <button class="btn waves-effect waves-light" type="button" onclick="openCloseModal({{ data.idEvento }})">Terminar</button>
                                </div>
                            </div>
                        </form>

                        <!-- div class="row">
                            <h5>Actualizar estado</h5>
                            <p><h6>Actualizar estado a "Terminado"</h6></p>
                            <button class="btn waves-effect waves-light" type="button" onclick="openCloseModal({{ data.idEvento }})">Actualizar</button>
                        </div -->
                        
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row" style="padding: 0px 150px 0px 150px;">
    <div class="col m12 s12">
        <div class="card z-depth-5">
            <div class="card-content">
                <div class="card-title">
                    {{ data.nombre }}
                </div>
                <div class="row">
                    <div class="col s6">
                        <canvas id="pdf_canvas"></canvas>

                        <div class="row">
                            <div class="col s2">
                                <button class="m-button" id="prev_page"><i class="material-icons">keyboard_arrow_left</i></button>
                            </div>
                            <div class="col s2">
                                <button class="m-button" id="next_page"><i class="material-icons">keyboard_arrow_right</i></button>
                            </div>
                            <div class="col s1">
                                <span id="current_page_num"></span>
                            </div>
                            <div class="col s1">
                                de
                            </div>
                            <div class="col s1">
                                <span id="total_page_num"></span>
                            </div>
                            <div class="col s3">
                                <input type="text" id="page_num" />
                            </div>
                            <div class="col s1">
                                <button class="m-button" id="go_to_page"><i class="material-icons">search</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="s6">
                        <div>
                            <h5 class="center-align">Documentos Complementarios</h4>
                        </div>
                        <div id="extraDoc">
                           
                        </div>
                        
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="canvasmodal" class="modal">
    <div class="modal-content">
      <h4>Respuesta</h4>
      <h5>Documento</h5>
      <canvas id="modal_pdf_canvas"></canvas>
      <div class="row">
        <div class="col s2">
            <button class="m-button" id="modal_prev_page"><i class="material-icons">keyboard_arrow_left</i></button>
        </div>
        <div class="col s2">
            <button class="m-button" id="modal_next_page"><i class="material-icons">keyboard_arrow_right</i></button>
        </div>
        <div class="col s1">
            <span id="modal_current_page_num"></span>
        </div>
        <div class="col s1">
            de
        </div>
        <div class="col s1">
            <span id="modal_total_page_num"></span>
        </div>
        <div class="col s3">
            <input type="text" id="modal_page_num" />
        </div>
        <div class="col s1">
            <button class="m-button" id="modal_go_to_page"><i class="material-icons">search</i></button>
        </div>
    </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modalClose" class="modal">
    <div class="modal-content">
      <h4>Terminar proceso</h4>
      <p><b>Esta seguro de terminar proceso?</b></p>
      <p>Una vez terminado no podra responder con ningun archivo.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a href="#!" onclick="documentClose()" class="modal-close waves-effect waves-green btn-flat">Termiar</a>
    </div>
  </div>
          


    <p id="doc" name="doc" hidden></p>
        

{% endblock %}
{% block extrajs %}
<script src="{% static 'js/loader.js' %}"></script>
<script src="{% static 'js/pdf/pdf.js' %}"></script>
<script src="{% static 'js/pdf/pdf.worker.js' %}"></script>
<script src="{% static 'js/pdf/myPdf.js' %}"></script>
<script src="{% static 'js/document/details.js' %}"></script>

{% endblock %}