{% extends 'base.html' %}
{% load static %}
{% block title %} Mis documentos {% endblock %}
{% block content %}


{% if request.session.create %}
<div class="fixed-action-btn">
    <a href="{% url 'doc:new' %}" class="btn-floating btn-large">
      <i class="large material-icons">add</i>
    </a>
    
</div>
{% endif %}
        
<div class="row">
    <div class="col m12 s12">
        <div class="card z-depth-5">
            <div class="card-content">
                <div class="card-title">
                    Mis Incidentes
                    
                </div>
                <div class="row">
                    <table id="IncidentTable">
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Nombre</th>
                                <th>Área</th>
                                <th>Tarea</th>
                                <th>Fecha de creación</th>
                                <th>Fecha recepción</th>
                                <th>Estatus</th>
                                <th>Prioridad</th>
                                <th>id 1</th>
                                <th>id 2</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/document/list.js' %}"></script>
{% endblock %}