{% extends 'base.html' %}
{% load static %}
{% block title %} New {% endblock %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
{% endblock %}
{% block content %}
<div id="upload" style="visibility: hidden;">
    <img src="{% static 'img/upload.gif' %}"  width="30%"/>
</div>
<div class="row" style="padding: 50px 150px 0px 150px;">
    <div class="col m12 s12">
        <div class="card z-depth-5">
            <div class="card-content">
                <div class="card-title">
                    <a href="{% url 'doc:DocumentView' %}"><i class="material-icons left">keyboard_backspace</i></a>Nuevo documento
                </div>
                <form id="formUpload">
                    {%  csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">title</i>
                            <input class="validate" id="title" type="text" name="title" required />
                            <label for="title" data-error="wrong" data-success="right" class="center-align">nombre</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">assignment</i>
                            <input class="validate" id="folio" type="text" name="folio" required />
                            <label for="folio" data-error="wrong" data-success="right" class="center-align">Folio</label>
                        </div>
                        <div class="input-field col s6">
                            <select id="usrAsign" name="usrAsign">
                                <option value="0" disabled selected>Seleccione usuario</option>
                                {% for u in users %}
                                    {% if u.id_usuario != request.session.usr.id %}
                                        <option value="{{ u.id_usuario }}">{{ u.nombre }} {{u.paterno }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label>Turnado a:</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">apartment</i>
                            <input class="validate" id="area" type="text" name="area" />
                            <label for="area">Área</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">assignment_ind</i>
                            <input class="validate" id="emisor" type="text" name="emisor"/>
                            <label for="emisor">Enviado por:</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">description</i>
                            <input class="validate" id="docType" type="text" name="docType"/>
                            <label for="docType">Tipo de documento:</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">date_range</i>
                            <input class="validate" id="receptionDate" type="text" name="receptionDate"/>
                            <label for="receptionDate">Fecha de recepción</label>
                        </div>
                        <div class="input-field col s6">
                            <select id="priority" name="priority">
                                <option value="0" disabled selected>Seleccione prioridad</option>
                                {% for u in priority %}
                                    
                                        <option value="{{ u.id_prioridad }}">{{ u.prioridad }}</option>
                                  
                                {% endfor %}
                            </select>
                            <label>Prioridad</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_comment</i>
                            <input class="validate" id="comment" type="text" name="comment" required />
                            <label for="comment" data-error="wrong" data-success="right" class="center-align">Comentarios</label>
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn white">
                            <i class="material-icons md-dark">folder</i>
                            <input type="file" id="file" name="file" accept="application/pdf" >
                            </div>
                            <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" id="filename" name="filename"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center-align">
                            <button id="saveNew" class="btn center-align" type="button" onclick="upoload()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/materializedatetimepicker.js' %}"></script>
<script src="{% static 'js/document/saveDocument.js' %}"></script>
<script src="{% static 'js/loader.js' %}"></script>
{% endblock %}