{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/panel/main.css' %}">
{% endblock %}
{% block title %} Home {% endblock %}
{% block content %}


<div class="main">
    <div class="intro">
        <h3 class="title-plugin">Estado de documentos</h1>
    </div>
    <div class="block-wrapper">
        <div class="block">
            <p><span class="lnr lnr-heart"></span></p>
            <p class="counter-wrapper"><span class="count">{{ m.creado }}</span></p>
            <p class="text-block">Creado</p>
        </div>
        <div class="block">
            <p><span class="lnr lnr-code"></span></p>
            <p class="counter-wrapper"><span class="count">{{ m.atendido }}</span></p>
            <p class="text-block">Atendido</p>
        </div>
        <div class="block">
            <p><span class="lnr lnr-bicycle"></span></p>
            <p class="counter-wrapper"><span class="count">{{ m.asignado }}</span></p>
            <p class="text-block">Asignado</p>
        </div>
        <div class="block">
            <p><span class="lnr lnr-history"></span></p>
            <p class="counter-wrapper"><span class="count">{{ m.terminado }}</span></p>
            <p class="text-block">Terminado</p>
        </div>
        <div class="block">
            <p><span class="lnr lnr-history"></span></p>
            <p class="counter-wrapper"><span class="count">{{ m.cancelado }}</span></p>
            <p class="text-block">Cancelado</p>
        </div>
  </div>
</div>
    
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/panel/animationCounter.js' %}"></script>
<script src="{% static 'js/panel/main.js' %}"></script>
{% endblock %}