{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> 
 <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
<title>Login code</title>
<style type="text/css">
html,body{
	height:100%;
}
html{
	display:table;
	margin:auto;
}
body{
	display:table-cell;
	vertical-align: middle;
}
.margin{
	margin: 0 !important;
}
.row{
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 20px;
	min-width: 300px;
}
#form-img {
	max-width:100%;
}
.custom-img{
	width: 100px;
	height:100px;
}
</style>
</head>
<body>

	<div id="login-page" class="row">
		<div class="col s12 z-depth-5 card" style="padding:25px;">
			<div class="card-title">
				<p class="center">Control Documental</p>
			</div>
			<div class="card-content">
				<div class="col s6" style="padding-right:25px;">
					<img src="{% static 'img/login_panel.png' %}" class="" />
					
				</div>
				<div class="col s6">
					<form action="../Login/Code" method="post" class="form m-x-auto">
						{%  csrf_token %}
						<div class="row">
							<div class="input-field col s12 center">
								<img class="responsive-img valign profile-image-login custom-img" src="{% static 'img/infotec-logo.jpg' %}">
								<p class="center login-form-text">Introduce el código de seguridad</p>
								<p class="center">{{ request.session.codigo }}</p>
							</div>
						</div>
						<div class="row margin" hidden>
							<div class="input-field col s12">
								<i class="material-icons prefix">error</i>
								<input class="validate" id="user" type="text" name="user" value="{{ id }}" required/>
								<label for="user">user</label>					
							</div>
						</div>
						<div class="row margin">
							<div class="input-field col s12">
								<i class="material-icons prefix">vpn_key</i>
								<input class="validate" id="code" type="text" name="code" required />
								<label for="code" data-error="wrong" data-success="right" class="center-align">Código</label>
							</div>
						</div>
	
						<div class="row">
							<div class="input-field col s12 center-align">
								<button style="border-radius:20px;" class="btn waves-effect btn-pimary" type="button" onClick="doCode()">Ingresar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
		</div>
	</div>

</body> 
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <script src="{% static 'js/login/code.js' %}"></script>
</html>