{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> 
 <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
<title>Login</title>
<style type="text/css">
html,body{
	height:100%;
}
html{
	display:table;
	margin:auto;
}
body{
	display:table-cell;
	vertical-align: middle;
}
.margin{
	margin: 0 !important;
}
.row{
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 20px;
	min-width: 300px;
}
#form-img {
	max-width:100%;
}
.custom-img{
	width: 100px;
	height:100px;
}
</style>
</head>
<body>
	<div id="login-page" class="row">
		<div class="col s12 z-depth-5 card" style="padding:25px;">
			<div class="card-title">
				<p class="center">Control Documental</p>
			</div>
			<div class="card-content">
				<div class="col s6" style="padding-right:25px;">
					<img src="{% static 'img/login_panel.png' %}" class="" />
				
				</div>
				<div class="col s6">
					<form action="Login" method="post" class="form m-x-auto">
						{%  csrf_token %}
						<div class="row">
							<div class="input-field col s12 center">
								<img class="responsive-img valign profile-image-login custom-img" src="{% static 'img/infotec-logo.jpg' %}">
								<!-- >p class="center login-form-text">Infotec</p -->
							</div>
						</div>
						<div class="row margin">
							<div class="input-field col s12">
								<i class="material-icons prefix">perm_identity</i>
								<input class="validate" id="user" type="text" name="user" required />
								<label for="user" data-error="wrong" data-success="right" class="center-align">usuario</label>
							</div>
						</div>
						<div class="row margin">
							<div class="input-field col s12">
								<i class="material-icons prefix">lock_outline</i>
								<input class="validate" id="password" type="password" name="password" required />
								<label for="password" data-error="wrong" data-success="right" class="center-align">Contraseña</label>
							</div>
						</div>
					
						<div class="row">
							<div class="input-field col s12 center-align">
								<button style="border-radius:20px;" class="btn waves-effect btn-pimary" type="button" onclick="doLogin()">Ingresar</button>
							</div>
						</div>
					</form>
				</div>

			</div>
			
			
		</div>
	</div>

</body> 
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/login/login.js' %}"></script>
</html>