html, body{ 
  background-color:white; 
  color:white; 
}
.main {
  font-size:20px; 
  text-align:center; 
}

.title-plugin{ 
  color: grey;
}

.block-wrapper{ 
  margin-right: auto; 
  margin-left: auto; 
  width: 80%; 
  background: white;
}

.block{ 
  color:#019F9A; 
  float: left; 
  border: 3px solid transparent; 
  padding-top: 40px; 
  width: 180px; 
  height: 160px; 
  margin: 10px
}
.block p { 
  margin: 0; 
}
.block p i{ 
  font-size: 40px; 
  color: #019F9A; 
}
.counter-wrapper{ 
  font-weight:700; 
  margin:5px 0px 5px 0px; 
  font-size: 40px; 
}
.text-block{ 
  font-size: 17px;
  color: black;
}